// =============================================================================
// RESPONSIVE BREAKPOINTS
// =============================================================================
$breakpoints: (
    'mobile'  : ( max-width:  480px ),
    'tablet'  : ( max-width:  736px ),
    'laptop' : ( max-width:  980px ),
    'desktop'  : ( max-width: 1080px ),
    'wide'  : ( max-width: 1690px )
);
 
@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// =============================================================================
// FONTS
// =============================================================================
@font-face {
    font-family: 'Crimson';
    src: url('../fonts/crimson/Crimson-Roman.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
  }
// =============================================================================
// MAIN STYLING
// =============================================================================
body{
    background: #F8F8F8;
}
.header {
    width: 70%;
    margin: 0 auto;
    height: 60px;
    text-align: center;
    font-family: 'Crimson', serif;
    font-weight: bold;
    font-size: 48px;
    color: #E50000;

}

.projects {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1.25em;
    width: 70%;
    margin: 0 auto;
    transition: grid-template-columns 2s;
      
    @include respond-to(laptop) {
        grid-template-columns: repeat(3,1fr);
        width: 80%;
    } 
    @include respond-to(tablet) {
        grid-template-columns: repeat(2,1fr);
        width: 90%;
    }    
    @include respond-to(mobile) {
        grid-template-columns: 1fr;
    }         
    .post {
        width: 100%;
        height:500px;
        border: 1px solid #555555;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: #ffffff;
        overflow: hidden; 
        @include respond-to(desktop) {
            height: 400px;
        }
        @include respond-to(mobile) {
            height: 350px;
            margin: auto;
        }       
        .thumb-wrapper {
            height: 45%;
            width: 100%;
            margin-bottom: 5px;
            overflow: hidden;
            position: relative;
            .thumbnail {
                height: 100%;
                width: 100%;
                background-position: center !important;
                background-size: cover !important;
                transition: all .5s;
            }
            .cta-link {
                position: absolute;
                top: 0;
                left:0;
                z-index: 100;
                font-size: 0px;
                font-family: 'Crimson', serif;
                color:rgba(0,0,0,0.9);
                text-transform: uppercase;
                text-decoration: none;
                transition: all .75s;
                width: 100%;
                height: 100%;
                background:rgba(255,255,255,0.0);
                line-height: 200px;
                text-align: center;


            }             
            &:hover {
                .thumbnail {
                    transform: scale(1.3);                  
                }
                .cta-link {
                    font-size: 20px;
                    background:rgba(255,255,255,0.8);
                }
            }         
        }         
        .date {
            font-size: 10px;
            margin-left: 20px;
            margin-bottom: 10px;
        }
        .title {
            display: block;
            font-size: 15px;
            font-weight: bold;
            color:#000000;
            text-decoration: none;
            margin-bottom: 5px;
            padding: 0px 20px 0px 20px;
            font-family: 'Crimson', serif;
        }
        &.cnn {
            border: 1px solid #cc0000;
            border-top: 3px solid #cc0000;
            border-bottom: 3px solid #cc0000;
            .title {
                color:#282828;
            }
            .cta-link {
                &:hover {
                   color: #cc0000;
                }
            }               
        }
        &.fox {
            border: 1px solid #003366;
            border-top: 3px solid #003366;
            border-bottom: 3px solid #003366;
            .title {
                color:#282828;
            }
            .cta-link {
                &:hover {
                   color: #003366;
                }
            }            
        }
        &.nbc {
            border: 1px solid #6347b2;
            border-top: 3px solid #6347b2;
            border-bottom: 3px solid #6347b2;
            .title {
                color:#282828;
            }
            .cta-link {
                &:hover {
                   color: #6347b2;
                }
            }            
        }     
        &.bbc {
            border: 1px solid #e03c31;
            border-top: 3px solid #e03c31;
            border-bottom: 3px solid #e03c31;
            .title {
                color:#282828;
            }
            .cta-link {
                &:hover {
                   color: #e03c31;
                }
            }            
        }                
        .icon {
            display: block;
            text-indent: -10000px;
            margin-left: 20px;
            margin-bottom: 5px;
            &.icon-fox {
                height: 30px;
                width: 30px; 
                background-size: cover;
                background: url('../images/fox.svg');
                background-repeat: no-repeat;

            }
            &.icon-cnn {
                height: 20px;
                width: 40px;    
                background-size: cover;
                background: url('../images/cnn.svg');
                background-repeat: no-repeat;                
            }  
            &.icon-nbc {
                height: 20px;
                width: 40px;    
                background-size: cover;
                background: url('../images/nbc.svg');
                background-repeat: no-repeat;                
            }  
            &.icon-bbc {
                height: 20px;
                width: 40px;    
                background-size: cover;
                background: url('../images/bbc.svg');
                background-repeat: no-repeat;                
            }                                    
        }
        .content-wrapper {
            font-size: 13px;
            font-family: 'Montserrat', serif;
            margin:0 auto;
            margin-bottom: 10px;
            padding: 0px 20px 0px 20px;
            max-height: 110px;       
            overflow: hidden;
            background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0.0) 100%);

            @include respond-to(desktop) {
                max-height: 80px;   
            }                            
            @include respond-to(laptop) {
                max-height: 70px;   
            }                  
            @include respond-to(mobile) {
                max-height: 80px;   
            }                         
        }

    }
}